
h2{
    text-align: center;
}
form{
    border-style: double;
    border-radius: 0.5rem;
    background-color:#C0B2AF;
    
}
main{
    background-color:#987B6D;
}

.container{
    
    margin-bottom: 10px;
    
}
.div-tab{
    padding: 10px;
}






